@import url('https://fonts.googleapis.com/css2?family=Birthstone&display=swap');
body {
  position: relative;
  height: 1000px;
}

body::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("./imgRei.jpg");
  background-size: cover;
  background-position: center;
  opacity: 0.7;
  z-index: -1;
}

h1 {
  text-align: center;
  font-family: Birthstone;
  font-size: 500%;
  margin: 0;
  color: white;
}
img {
  margin-left: 30px;
  border-radius: 10px;
}

table {
  border-collapse: collapse;
  width: 100%;
}

.headTable,
td {
  border: 1px solid #000000;
  padding: 8px;
  text-align: left;
}

.data-table {
  background-color: #e6e6e6;
}

tr.selected {
  background-color: #66f3bd;
}

.edit-form, .add-comment-form {
  margin-top: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  background-color: #f9f9f9;
}
.load {
  cursor: wait;
  width: 10000px;
  height: 1000px;
}
.edit-form input,
.edit-form textarea, .add-comment-form input, .add-comment-form  textarea {
  display: block;
  width: 100%;
  margin-bottom: 10px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  margin-right: 10px;
  padding: 8px 12px;
  border-width: 1px;
  border-style: dotted;
  border-radius: 4px;
  cursor:pointer
}

.edit-form button:first-child.add-comment-form button:first-child {
  background-color: #28a745;
  color: white;
}

.edit-form button:last-child, .add-comment-form button:last-child {
  background-color: #dc3545;
  color: white;
}