body {
  background-image: linear-gradient(rgb(255, 201, 201), rgb(255, 0, 157));
  height: 1200px;
}

.App {
  display: flex;
  flex-direction: row;
    margin-left: 10%;
    gap: 100px;
}

.Tree1, .Tree2, .Tree3 {
  margin-top: 15%;
  text-align: left;
  width: 500px;
  height: 500px;
  background-image: linear-gradient(rgb(163, 234, 243), rgb(57, 93, 117));
  border-color: rgb(85, 85, 85);
  border-style:groove;
  border-radius: 20px;
  font-size: 130%;

}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.Node {
  margin-left: 10%;
}

.tree-header {

  height: 50px;
}

.tree-list {
  margin-left: 20px;
}

.tree-header-Open {
  height: 30px;
  width: 400px;
  background-color: rgb(175, 226, 233);
  transition: 0.3s;
}