.person {
  background-color: rgb(136, 179, 143);
  border-radius: 15px;
  font-size: 150%;
  margin-bottom: 20px;
  margin-right: 50%;
}

.link_form, .link_data {
  background-color: rgb(163, 164, 255);
  color: rgb(0, 0, 0);
  margin: 10px;
  border-radius: 15px;
}

.pet {
  background-color: rgb(163, 189, 167);
  border-radius: 15px;
  margin-bottom: 10px;
}

.name, .age, .email, .pet_form {
  margin-left: 20px;
  font-weight: 650;
}

ul {
  list-style-type: "★";
}