.admin-panel {
  display: flex;
  background-color: #ffffff;
}

.sidebar {
  width: 250px;
  background-color: #a6a7ff;
  padding: 20px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.sidebar nav ul {
  list-style: none;
  padding: 0;
}
.logout {
  margin-right: 5%;
}
.sidebar nav ul li {
  margin: 15px 0;
  cursor: pointer;
  font-size: 16px;
  color: #333;
}

.sidebar nav ul li.active {
  font-weight: bold;
  color: #007bff;
}

.main-content {
  flex: 1; /* Занимает оставшееся пространство */
  padding: 20px; /* Поля вокруг контента */
}

.profile-info h2 {
  margin-bottom: 10px;
}

.profile-info p {
  margin: 5px 0;
}

.user-management table,
.article-management table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.user-management table th,
.user-management table td,
.article-management table th,
.article-management table td {
  border: 1px solid #ccc;
  padding: 8px;
  text-align: left;
}

.user-management table th,
.article-management table th {
  background-color: #f4f4f4;
  font-weight: bold;
}
.New-Username {
  margin-right: 75px;
}
.New-Email {
  margin-right: 300px;
}
.New-Password {
  margin-right: 270px;
}
.New-Role {
  padding: 0.5rem 1rem;
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  box-sizing: border-box;
  border-color: #000000;
  width: 250px;
  height: 50px;
  border-radius: 15px;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  margin-left: 220px;
}
h2 {
  font-size: 200%;
  text-align: center;
  text-decoration: underline;
  text-decoration-color: rgb(76, 32, 117);
}
