body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
h1 {
  font-size: 250%;
  font-style: italic;
}

.header {
  background-color: #007bff;
  color: white;
  padding: 1rem;
  text-align: center;
}

.header nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.header nav ul li {
  display: inline;
}

.header nav ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.main-content {
  flex: 1;
  padding: 2rem;
  background-color: #f9f9f9;
  height: 1000px
}

.footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 1rem;
}

.form-group {
  margin-bottom: 1rem;
}

.form-group label {
  display: block;
  width: 410px;
  text-align: center;
  background-color: #e2bcbc;
  margin-bottom: 0.5rem;
  border-radius: 15px;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
}

.form-group input,
.form-group select {
  width: 400px;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 15px;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
}

button {
  padding: 0.5rem 1rem;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

button {
  padding: 0.5rem 1rem;
  background-color: #dc3545;
  color: white;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  margin-top: 20px;
}

button:hover {
  background-color: #c82333;
  border-radius: 15px;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
}

.home-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
button {
  background-color: rgb(76, 32, 117);
  margin-top: 30px;
  width: 200px;
  height: 50px;
  border-radius: 20px;
  box-shadow: inset;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
}
label {
  margin-right: 100px;
  font-size: 250%;
}
input {
  width: 350px;
  height: 70px;
  margin-bottom: 10px;
  border-radius: 20px;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
}
