.register-container {
    text-align: center;
}

h1 {
  font-size: 250%;
  font-style: italic;
}
input {
    margin: 0;
}
.SelectRole {
  padding: 0.5rem 1rem;
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  border: none;
  width: 250px;
  height: 50px;
  border-radius: 15px;
  box-shadow: 10%;
  cursor: pointer;
}
.button {
  width: 250px;
  margin-left: 0%;
  height: 60px;
}
.Username {
  margin-right: 3%;
  margin-left: 4%;
}
.Password {
  margin-right: 4.5%;
  margin-left: 5%;
}
.Email {
  margin-right: 6%;
  margin-left: 6%;
  text-align: center;
}
.Role {
  margin-right: 6%;
  margin-left: 6%;
}

